<section class="bg-color footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <h3 class="footer-text text-white">LOCATION</h3>
                    <p class="text-white">2215 John Daniel Drive</p>
                    <p class="text-white">Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <h3 class="footer-text text-white">AROUND THE WEB</h3>
                    <div class="footer-icons d-flex flex-row justify-content-between">
                        <i class="fa-brands fa-facebook text-white"></i>
                        <i class="fa-brands fa-twitter text-white  mx-2"></i>
                        <i class="fa-brands fa-linkedin-in text-white"></i>
                        <i class="fa-solid fa-globe text-white  mx-2"></i>
                    </div>
            </div>
        </div>
            <div class="col-lg-4 col-sm-4">
                <div class="d-flex flex-column justify-content-center align-items-center text-center">
                    <h3 class="footer-text text-white">ABOUT FREELANCER</h3>
                    <p class="text-white">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="copyright">
    <p class="text-white text-center">Copyright © Your Website 2021</p>
</div>