<nav class="navbar navbar-expand-lg bg-nav mx-auto p-4 sticky-top">
    <div class="container-fluid ">
      <a class="navbar-brand text-white f-size" routerLink="/home">START FRAMEWORK</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white link-size" routerLink="/about" routerLinkActive="bg-active rounded">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white link-size" routerLink="/portfolio" routerLinkActive="bg-active rounded">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white link-size" routerLink="/contact" routerLinkActive="bg-active rounded">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  