<section class="py-4">
    <div class="contact-info d-flex flex-column justify-content-center align-items-center mt-3">
        <h2 class="contact-font">CONTACT SECTION</h2>
        <div class="icons d-flex flex-row justify-content-center align-items-center ">
            <div class="line rounded"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="line rounded"></div>
            </div>
            <div class="contact-form d-flex flex-column justify-content-center align-items-center">
                      <input type="text" class="form-control ps-2 mt-4" placeholder="userName">
                      <input type="number" class="form-control ps-2 mt-4"  placeholder="userAge">
                      <input type="email" class="form-control ps-2 mt-4"  placeholder="userEmail">
                      <input type="password" class="form-control ps-2 my-4"  placeholder="userPassword">

            </div>
        </div>
        <div class=""> 
            <button class="btn text-white">Send Message</button>
          </div>
</section>