<section class="py-4">
    <div class="portfolio-info d-flex flex-column justify-content-center align-items-center mt-3">
        <h2 class="portfolio-font">PORTFOLIO COMPONENT</h2>
        <div class="icons d-flex flex-row justify-content-center align-items-center ">
            <div class="line rounded"></div>
            <i class="fa-solid fa-star mx-3"></i>
            <div class="line rounded"></div>
            </div>
        <div class="container mt-5">
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="portfolio-img"  type="button" data-bs-toggle="modal" data-bs-target="#modal1">
                        <img src="/img/port1.png"  class="w-100 rounded"/>
                        <div class="portfolio-card rounded">
                            <i class="fa-solid fa-plus text-white m-auto"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-img" type="button" data-bs-toggle="modal" data-bs-target="#modal2">
                        <img src="/img/port2.png"  class="w-100 rounded"/>
                        <div class="portfolio-card rounded">
                            <i class="fa-solid fa-plus text-white m-auto"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-img"  type="button" data-bs-toggle="modal" data-bs-target="#modal3">
                        <img src="/img/port3.png"  class="w-100 rounded"/>
                        <div class="portfolio-card rounded">
                            <i class="fa-solid fa-plus text-white m-auto"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-img"  type="button" data-bs-toggle="modal" data-bs-target="#modal4">
                        <img src="/img/port1.png"  class="w-100 rounded"/>
                        <div class="portfolio-card rounded">
                            <i class="fa-solid fa-plus text-white m-auto"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-img" type="button" data-bs-toggle="modal" data-bs-target="#modal5">
                        <img src="/img/port2.png"  class="w-100 rounded"/>
                        <div class="portfolio-card rounded">
                            <i class="fa-solid fa-plus text-white m-auto"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="portfolio-img" type="button" data-bs-toggle="modal" data-bs-target="#modal6">
                        <img src="/img/port3.png"  class="w-100 rounded"/>
                        <div class="portfolio-card rounded">
                            <i class="fa-solid fa-plus text-white m-auto"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

  
  <!-- Modal -->
  <div class="modal" id="modal1" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <img src="/img/port1.png" class="img-fluid" alt="Portfolio Image"/>
      </div>
    </div>
  </div>
  <div class="modal" id="modal2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <img src="/img/port2.png" class="img-fluid" alt="Portfolio Image"/>
      </div>
    </div>
  </div>
  <div class="modal" id="modal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <img src="/img/port3.png" class="img-fluid" alt="Portfolio Image"/>
      </div>
    </div>
  </div>
  <div class="modal" id="modal4" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <img src="/img/port1.png" class="img-fluid" alt="Portfolio Image"/>
      </div>
    </div>
  </div>
  <div class="modal" id="modal5" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <img src="/img/port2.png" class="img-fluid" alt="Portfolio Image"/>
      </div>
    </div>
  </div>
  <div class="modal" id="modal6" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <img src="/img/port3.png" class="img-fluid" alt="Portfolio Image"/>
      </div>
    </div>
  </div>